@model CategoryFormModel

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6  col-lg-8">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="enter categoty name">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <input class="btn btn-primary" type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>
