@model PropertyFormModel

@{ 
    ViewData["Title"] = "Add Property";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6  col-lg-8">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Area"></label>
                    <input asp-for="Area" class="form-control" placeholder="enter area size">
                    <span asp-validation-for="Area" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" placeholder="enter title">
                    <span asp-validation-for="Title" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Year"></label>
                    <input asp-for="Year" class="form-control" placeholder="enter year">
                    <span asp-validation-for="Year" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Floor"></label>
                    <input asp-for="Floor" class="form-control" placeholder="enter floor number">
                </div>
                <div class="form-group">
                    <label asp-for="Floors"></label>
                    <input asp-for="Floors" class="form-control" placeholder="enter floors number">
                </div>
                <div class="form-group">
                    <label asp-for="BedRoom"></label>
                    <input asp-for="BedRoom" class="form-control" placeholder="enter number of bedroom">
                </div>
                <div class="form-group">
                    <label asp-for="Bath"></label>
                    <input asp-for="Bath" class="form-control" placeholder="enter number of bath">
                </div>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" placeholder="enter area size">
                    <span asp-validation-for="Price" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl"></label>
                    <input asp-for="ImageUrl" class="form-control" placeholder="enter imageUrl">
                    <span asp-validation-for="ImageUrl" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="4" placeholder="some description"></textarea>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Construction"></label>
                    <input asp-for="Construction" class="form-control" placeholder="enter type of material">
                    <span asp-validation-for="Construction" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City"></label>
                    <input asp-for="City" class="form-control" placeholder="enter City name">
                    <span asp-validation-for="City" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TypeOfTransaction"></label>
                    <input asp-for="TypeOfTransaction" class="form-control" placeholder="enter type of transaction">
                    <span asp-validation-for="TypeOfTransaction" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategotyId"></label>
                    <select asp-for="CategotyId" class="form-control">
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CategotyId" class="small text-danger"></span>
                </div>
                <input class="btn btn-primary" type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>