@model IEnumerable<PropertyServiceListModel>


@{
    ViewData["Title"] = "My Proprties";
    ViewBag.AllowPropertyEdit = true;
}

@if (!Model.Any())
{
    <h2 class="text-center">You dont have property</h2>
}

<partial name="_PropertyPartial" model="@Model" />

<hr />